@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: $color-dark;
}

.favoriteButton {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;

  // .fa {
  //   font-size: 20px;
  // }

  &:hover {
    color: gold;
  }
}
.isFavorite {
  color: gold;
}

.removeButton {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;

  &:hover {
    color: black; /* Zmiana koloru na czarny podczas najechania */
  }
}
